<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label>
        APR
    </label>
    
    <input id="number_input_1" type="text" name="user_apr" placeholder="E.g. 5.42">
  </div>
  
  
  <div>
    <label>
        Number of years
    </label>
    
    <input id="number_input_2" type="text" name="user_years" placeholder="How many years to repay?">
  </div>
  
  
  <div>
    <label>
        Principal
    </label>
    
    <input id="number_input_3" type="text" name="user_principal" placeholder="How much principal">
  </div>
  
  
  <button>Calculate monthly payment</button>
  
</form>