<h1>Square Form Results</h1>

<p><b>Number</b><br>
<%= @user_number %></p>
<p><b>Square</b><br>
<%= @squared_number %></p>

<!--<p>The square of <%= @user_number %> is <%= @squared_number %>.</p>-->

<a href="/square/new">Calculate another square</a>